<div class='card'>
    <div class='card-header'>
        <div class="form-group">
            Filter
            <input type="text" class="form-control" id="filter" required [(ngModel)]="filter" name="filter">
        </div>
        <div class='float-right'>
            <button class='btn btn-md' (click)="open(content)">Add</button>
        </div>
    </div>
    <div class='card-body'>
        <pm-assets-table [assets]="filteredAssets"></pm-assets-table>
    </div>
</div>
<ng-template #content let-close="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create Asset</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label for="description">Asset Type</label>
                <select class='form-control' [(ngModel)]="assetToCreate.assetType" name="assetType">
                    <option value="0">Please select an asset type</option>
                    <option *ngFor="let type of assetTypes" [value]="type">{{ type }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" id="description" required
                    [(ngModel)]="assetToCreate.description" name="description">
            </div>
            <div class="form-group">
                <label for="assignedTo">Assigned To</label>
                <input type="text" class="form-control" id="assignedTo" required [(ngModel)]="assetToCreate.assignedTo"
                    name="assignedTo">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
</ng-template>