<div class='card'>
    <div class='card-header'>
        Asset List
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-4'>
                Filtered By:
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <th>Asset Tag ID</th>
                    <th>Asset Type</th>
                    <th>Description</th>
                </thead>
                <tbody>
                    <tr>
                        <td>Test</td>
                        <td>Test</td>
                        <td>Test</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>