<div class='card' *ngIf="asset">
    <div class='card-header'>
        Asset Detail
        <div class='float-right'>
            <button (click)="editMode(true)" *ngIf="!isEditMode">Edit</button>
            <button (click)="saveAsset()" *ngIf="isEditMode">Save</button>
            <button (click)="retireAsset()" *ngIf="!asset.retired">Retire</button>
        </div>
    </div>
    <div class='card-body' *ngIf='asset'>
        <div class='row'>
            <div class='{{ labelStyle }}'>
                Asset Tag Id:
            </div>
            <div class='col-md-8'>
                {{ asset.assetTagId }}
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Asset Type:
            </div>
            <div class='col-md-8' *ngIf="!isEditMode">
                {{ asset.assetType }}
            </div>
            <div class='col-md-8' *ngIf="isEditMode">
                <input type="text" class="form-control" id="assetType" required [(ngModel)]="asset.assetType"
                    name="assetType">
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Description:
            </div>
            <div class='col-md-8' *ngIf="!isEditMode">
                {{ asset.description }}
            </div>
            <div class='col-md-8' *ngIf="isEditMode">
                <input type="text" class="form-control" id="description" required [(ngModel)]="asset.description"
                    name="description">
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Assigned To:
            </div>
            <div class='col-md-8' *ngIf="!isEditMode">
                {{ asset.assignedTo }}
            </div>
            <div class='col-md-8' *ngIf="isEditMode">
                <input type="text" class="form-control" id="assignedTo" required [(ngModel)]="asset.assignedTo"
                    name="assignedTo">
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Date Added:
            </div>
            <div class='col-md-8'>
                {{ asset.dateAdded | date }}
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Retired:
            </div>
            <div class='col-md-8'>
                {{ asset.retired }}
            </div>
        </div>
        <div class='row form-group'>
            <div class='{{ labelStyle }}'>
                Date Retired:
            </div>
            <div class='col-md-8'>
                {{ asset.dateRetired | date }}
            </div>
        </div>

    </div>
</div>
<a [routerLink]="['/assets']">
    Back to Asset List
</a>