<div class='card'>
    <div class='card-header'>
        Asset List
        <div class='float-right'>
            <button class='btn btn-md' (click)="open(content)">Add</button>
        </div>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-4'>
                Filtered By:
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table'>
                <thead>
                    <th>Asset Tag ID</th>
                    <th>Asset Type</th>
                    <th>Description</th>
                    <th>Assigned To</th>
                    <th>Date Added</th>
                    <th>Retired</th>
                    <th>Date Retired</th>
                </thead>
                <tbody>
                    <tr *ngFor='let asset of assets'>
                        <td>
                            <a [routerLink]="['/assets', asset.assetTagId]">
                                {{ asset.assetTagId }}
                            </a>
                        </td>
                        <td>{{ asset.assetType }}</td>
                        <td>{{ asset.description }}</td>
                        <td>{{ asset.assignedTo }}</td>
                        <td>{{ asset.dateAdded | date }}</td>
                        <td>{{ asset.retired }}</td>
                        <td>{{ asset.dateRetired | date }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<pm-assets-modal></pm-assets-modal>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
</div>