<div class='table-responsive'>
    <table class='table'>
        <thead>
            <th>Asset Tag ID</th>
            <th>Asset Type</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Date Added</th>
            <th>Retired</th>
            <th>Date Retired</th>
        </thead>
        <tbody>
            <tr *ngFor='let asset of assets'>
                <td>
                    <a [routerLink]="['/assets', asset.assetTagId]">
                        {{ asset.assetTagId }}
                    </a>
                </td>
                <td>{{ asset.assetType }}</td>
                <td>{{ asset.description }}</td>
                <td>
                    <a [routerLink]="['/employee', asset.assignedTo]">
                        {{ asset.assignedTo }}
                    </a>
                </td>
                <td>{{ asset.dateAdded | date }}</td>
                <td>{{ asset.retired }}</td>
                <td>{{ asset.dateRetired | date }}</td>
            </tr>
        </tbody>
    </table>
</div>